
:root{
    --celeste:#77b6d6;
    --rojosado:#ef4f4f;
    --cafe:#3e3a36;
    --lima:#57d044;
    --negro: #1d1d1d;
    --blanco: #f3fefe;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--celeste);
    vertical-align: middle;
    letter-spacing: 1.5px;
    
}

/**********************************************************************************************/
/*-------------CONTENIDO DEL MENU---------------------*/
.conten_General {
    display: flex;
    position: relative;
    margin: 40px 10px;
    height: 130px;
    /*solo es para pruebas*/
    /*background-color: yellow;*/
}

/*--------------------------------------------------------*/

/*------------LOGO PROYECTO------------------*/
.logo .img, .logo img{
    width: 370px;
    height: 100%;
    border-radius: 320px;    
}

/*-------------------------------------------*/

/*---------------para centar el contenido del div---------------*/
.titul_usu .titulo, .img_conf, .conten_perfil{
    display: flex;
    align-items: center; /*centrado en Y del titulo*/
}

/*--------------------------------------------------------------*/
/*********************************************************************************************/
/*-------------------TITULO------------------------*/
.titul_usu {
    display: flex;
    margin:  auto; /* para centrar elcontenedor*/
    margin-bottom: 0;
    padding: 0 20px; 
    height: 75px;   
    /*solo es para pruebas*/
    /*background-color: gray;*/
}

.titul_usu .img, .titul_usu img{
    /*width: 120px;*/
    height: 100%;
    /*solo es para pruebas*/
    /*background-color: green*/
}

.titul_usu .titulo{
/*--------Fuente texto---------*/
    font-family: 'Rampart One', sans-serif;
    font-size: 22px;
    margin-left: 10px;
    height: 75px;
    /*color:var(--cafe);*/
/*---------------------*/
    /*solo es para pruebas*/
    /*background-color: green*/
}

/*------------------------------------------------------------*/
/*******************************************************************************/
/*--------------------PERFIL--------------------------*/
.conten_perfil {
    height: 50px;  
    margin-right: 10px;
    /*solo es para pruebas*/
    /*background-color: blue;*/
}

.datos {
    display: block;
    margin: auto;    
    /*width: 130px;*/
    /*--------Fuente texto---------*/
    font-family: "Poetsen One", sans-serif;
    font-size: 18px;
    /*---------------------*/
    height: 100%;
    margin-right: 15px;
    /*solo es para pruebas*/
    /*background-color: white;*/
}

/*-----------IMAGEN PERFIL--------------------*/
.img_conf{
    height: 100%;
    justify-content: space-between;
    /*solo es para pruebas*/
    /*background-color: pink;*/
}

.menu_perfil {
    margin-left: 5px;
    padding: 0;
    height: 100%;
    transition: transform .3s;
    display: flex;
    justify-content: center;
    font-family: "Poetsen One", sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
    
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.submenu {
    list-style: none;
    transition: clip-path .2s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: -2px;
    padding: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: var(--lima);
    border: 2px solid var(--negro);
    border-radius: 10px;
}

.submenu li a{
    color: var(--blanco);
    font-size: 18px;
    -webkit-text-stroke: 1px var(--negro);
    text-decoration: none;
    padding: 3px 15px 0 15px;
    display: flex;
    height: 100%;
    /*background-color: #3e3a36;*/
}

/*----------------------------------------------------*/
/************************************************************************************************/
/*-----------------PIE DE PAGINA------------------------*/
.info-copi{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 0px;
    text-align: center;
    /*background-color: #ef4f4f;*/
}

/*----------------------------------------------------*/