:root{
    --celeste:#77b6d6;
    --rojosado:#ef4f4f;
    --cafe:#3e3a36;
    --lima:#57d044;
    --negro: #1d1d1d;
    --blanco: #f3fefe;
}

/*-----------------MENU----------------------------*/
.menu{
    text-align: center;
    /*solo es para pruebas*/
    /*background-color: rgb(211, 133, 176);*/
    
}
.menu li{
    list-style-type: none;
    display: inline;
    margin: -2px;

}
.menu li a{
    font-family: "Poetsen One", sans-serif;
    color: var(--blanco); 
    font-size: 22px;
    text-decoration: none;
    padding: 8px 20px;
    border: 2px solid var(--negro);
    border-radius: 40px;
    background-color: var(--lima);

}
/*----------------------------------------*/

