:root{
    --celeste:#77b6d6;
    --rojosado:#ef4f4f;
    --cafe:#3e3a36;
    --lima:#57d044;
    --negro: #1d1d1d;
    --blanco: #ffffff;
}

/*-----------------SUBTITULO----------------------------*/
.sub_titu{
    text-align: center;
    /*--------Fuente texto---------*/
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
    /*---------------------*/    
    margin-top: 80px;
    margin-bottom: -20px;
    /*solo es para pruebas*/
    /*background-color: rgb(211, 133, 176);*/
    
}
/*------------------------------------------------*/
/******************************************************************************************/
/*-----------------MENU----------------------------*/
.menu_home{
    display: grid;
    /*text-align: center;*/
    Margin: auto;
    /*width: 450px;*/
    /*solo es para pruebas*/
    /*background-color: rgb(211, 133, 176);*/
    
}
.home1, .home2{
    display: inline flex;
    margin: auto;
    margin-top: 50PX;
    /*solo es para pruebas*/
    /*background-color:yellow;*/

}
.menu_home section{
    margin: auto 80px;
    /*solo es para pruebas*/
    /*background-color: white;*/
    
}
.menu_home img{
    display: flex;
    align-items: center;
    margin: auto ;
    height: 100px;
    /*solo es para pruebas*/
    /*background-color: black;*/
    
}
.menu_home a{
    font-family: "Poetsen One", sans-serif;
    color: var(--cafe); 
    font-size: 22px;
    text-decoration: none;
    width: 150PX;
    padding: 8px 20px;
    border: 2px solid var(--negro);
    border-radius: 40px;
    background-color: var(--lima);
}

/*----------------------------------------*/